.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  margin-top: 25px;
}

.card_text {
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-size: 18px;
  padding: 14px;
  background-color: var(--nmx-green);
  color: #fff;
}

.card_contact {
  width: 100%;
  background: #d2d4d3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100%;
  background-position: 0 0, top right;
  padding: 20px 20px 0 20px;
  min-height: 217px;
}

.contact {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}

.contact_name {
  font-weight: bold;
}

.borderCircle {
  border-radius: 9999px;
  width: 100%;
}

.laRep {
  max-width: 24rem;
}