<section class="cards">
  <a [title]="product.name" [href]="product.link" *ngFor="let product of products">
    <div class="max-w-sm lg:flex">
      <div class="
          h-48
          lg:h-auto
          flex-none
          bg-cover
          rounded-t
          lg:rounded-t-none lg:rounded-l
          text-center
          overflow-hidden
        " title="{{ product.name }}">
        <img src="{{ product.img }}" alt="" />
      </div>
      <div class="
          border-r border-b border-l border-gray-400
          lg:border-l-0 lg:border-t lg:border-gray-400
          bg-green
          rounded-b
          lg:rounded-b-none lg:rounded-r
          flex flex-col
          justify-between
          leading-normal
        ">
        <div class="card">
          <p class="text-gray-700 text-center flex flex-col card_text">
            {{ product.name }}
          </p>
        </div>
      </div>
    </div>
  </a>
  <app-rep-data></app-rep-data>
</section>