.mainNav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  height: 80px;
}

nav#deskNav {
  background: #fff;
}

.deskNav_desk {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.deskNav__desk {
  padding: 10px;
  background: #f3f3f3;
}

.mainNav__nav {
  background: #eaeaea;
  width: 80px;
  height: 80px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: -5px 5px 20px -5px #0000001f;
  border-right: solid 1px #f3f3f3;
}

.mainNav__logo {
  align-self: center;
  display: block;
  margin: 0 auto;
}

.logo__img {
  height: 61px;
}

.mainNav__profile {
  margin: 5px 15px;
}

.borderCircle {
  border-radius: 9999px;
}

.dev {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}