<nav id="mainNav">
  <div class="mainNav">
    <div class="mainNav__nav">
      <div class="space-y-2">
        <span class="block w-5 h-0.5 bg-gray-600"></span>
        <span class="block w-8 h-0.5 bg-gray-600"></span>
        <span class="block w-8 h-0.5 bg-gray-600"></span>
      </div>
    </div>
    <div class="mainNav__logo">
      <img class="logo__img" src="https://d1wu473qb3450t.cloudfront.net/img/my-nutramax-dashboard.png" />
    </div>
    <div class="mainNav__profile">
      <img src="https://s3.amazonaws.com/static.nutramaxlabs.com/images/CA_Dev_profile.jpg" class="borderCircle"
        height="75" width="75" />
    </div>
  </div>
</nav>
<nav id="deskNav">
  <div class="deskNav_desk">
    <div class="deskNav__desk">
      <div class="deskNav__myLogo_desk">
        <img class="logo__img_desk" src="https://d1wu473qb3450t.cloudfront.net/img/my-nutramax-dashboard.png" />
      </div>
    </div>
    <div class="deskNav__numb1_desk">
      <img class="logo__img" src="https://d1wu473qb3450t.cloudfront.net/img/number-1-recommended.png" />
    </div>
    <div class="deskNav__pre_desk">
      <img class="logo__img" src="https://d1wu473qb3450t.cloudfront.net/img/preview-video-button.png" />
    </div>
    <div class="deskNav__profile_desk">
      <img src="https://s3.amazonaws.com/static.nutramaxlabs.com/images/CA_Dev_profile.jpg" class="borderCircle"
        height="75" width="75" />
    </div>
  </div>
</nav>